html {
    height: 100%;
  }
  body {
    background-image: url("https://m.media-amazon.com/images/M/MV5BMjM2NjE1MTc2M15BMl5BanBnXkFtZTgwOTM1NDgwNjE@._V1_.jpg");
    margin: 0;
    margin-bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    text-align: center;
    background-color: #fcda1dde;
    margin: 0 0 1rem 0;
    padding: 0.8rem;
    font-size: xxx-large;
  }
  
  textarea {
    display: block;
    text-align: left;
    width: 60%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    font-weight: bolder;
    font-size: x-large;
    font-style: italic;
  }
  #inputTextArea {
    background-color: #fecacabd;
    margin-bottom: 15px;
  }
  ::placeholder {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
  }
  #outputTextArea {
    margin-top: 15px;
    background-color: #fecacabd;
  }
  #btnTranslate {
    background-color: #fcd34d;
    width: 30%;
    height: 10%;
    margin: 20px 35%;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
  }
  div {
    background-color: #fcda1dde;
    padding: 0.3rem;
    text-align: center;
    font-size: large;
    margin: 2rem 0 0 0;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  